html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

menu {
    position: absolute;
    top: 10px;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

#board {
    width: max-content;
    height: max-content;
    display: grid;
    gap: 1px;
}
